version: 2
updates:
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: monthly
      time: "04:00"

    open-pull-requests-limit: 10
    commit-message:
      prefix: ⬆️
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
      time: "04:00"

    open-pull-requests-limit: 10
    commit-message:
      prefix: ⬆️
