# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.9
  node: 15.4.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "^.github/latest-changes.jinja2"
      - id: check-yaml
        exclude: "^mkdocs.yml"
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        exclude: "^docs/.*"
  - repo: https://github.com/psf/black
    rev: "22.3.0"
    hooks:
      - id: black
        exclude: "^docs/.*|.github/release.py"
  - repo: https://github.com/PyCQA/isort.git
    rev: "5.12.0"
    hooks:
      - id: isort
        exclude: "^docs/.*"
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.961
    hooks:
      - id: mypy
        exclude: "^docs/.*"
        additional_dependencies:
          - pydantic~=1.9.1
          - motor~=3.0.0
          - types-pytz~=2022.1.1
        args: [--no-pretty, --show-error-codes]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.137
    hooks:
      - id: ruff
        exclude: "^docs/.*|.github/release.py"

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1 # pick a git hash / tag to point to
    hooks:
      - id: pydocstyle
        files: "^odmantic/"
        additional_dependencies:
          - toml
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.1
    hooks:
      - id: darglint
