site_name: ODMantic
site_description: AsyncIO MongoDB ODM (Object Document Mapper) using python type hinting
repo_name: art049/odmantic
repo_url: https://github.com/art049/odmantic
site_url: https://art049.github.io/odmantic/
docs_dir: ./docs
site_dir: ./site

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: green
      accent: green
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: green
      accent: green
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  icon:
    logo: material/spa
    repo: fontawesome/brands/github
  features:
    - instant
    - content.tabs.link

extra_css:
  - css/extra.css

extra_javascript:
  - js/gitter.js
  - https://sidecar.gitter.im/dist/sidecar.v1.js

extra_templates:
  - sitemap.xml

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - toc:
      permalink: true
      toc_depth: 4
  - codehilite:
      linenums: true
      guess_lang: false
  - pymdownx.snippets:
      base_path: docs/examples_src
      check_paths: true # Fail when the document to include is not found
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.magiclink:
      user: art049
      repo: odmantic
      repo_url_shorthand: true
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.twemoji

plugins:
  - search
  - macros:
      module_name: docs/main
  - mkdocstrings:
      custom_templates: docs/api_reference/templates
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: true
            show_root_heading: true
watch:
  - odmantic/
  - docs/

nav:
  - Getting Started: index.md
  - fields.md
  - modeling.md
  - engine.md
  - querying.md
  - raw_query_usage.md
  - usage_fastapi.md
  - usage_pydantic.md
  - API Reference:
      - odmantic.model: ./api_reference/model.md
      - odmantic.engine: ./api_reference/engine.md
      - odmantic.session: ./api_reference/session.md
      - odmantic.query: ./api_reference/query.md
      - odmantic.field: ./api_reference/field.md
      - odmantic.reference: ./api_reference/reference.md
      - odmantic.index: ./api_reference/index.md
      - odmantic.bson: ./api_reference/bson.md
      - odmantic.exceptions: ./api_reference/exceptions.md
      - odmantic.config: ./api_reference/config.md
  - contributing.md
  - changelog.md
  - migration_guide.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/art049
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/art049
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/arthur-pastel-a08579112
  analytics:
    provider: google
    property: UA-180814888-1
