[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = {extras = ["pipfile"],version = "*"}
pytest = "~=5.4"
flake8 = "*"
python-githooks = "*"
pytest-pythonpath = "*"
mypy = "*"
ptvsd = "*"
coverage = "*"
pytest-xdist = "*"
ipython = "*"
pre-commit = "*"
pytest-asyncio = "*"
mkdocs-material = "*"
pipenv-setup = "*"
odmantic = {editable = true,path = "."}

[packages]
pydantic = "~=1.5"
motor = "~=2.1.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
setup = "./scripts/setup.sh"
test = "./scripts/test.sh"
lint = "./scripts/lint.sh"
format = "./scripts/format.sh"
coverage = "./scripts/coverage.sh"
