[tool.poetry]
name = "ODMantic"
version = "0.3.4"
description = "ODMantic, an AsyncIO MongoDB Object Document Mapper for Python using type hints "
authors = ["Arthur Pastel <arthur.pastel@gmail.com>"]
license = "ISC License"
readme = "README.md"
repository = "https://github.com/art049/odmantic"
documentation = "https://art049.github.io/odmantic"
keywords = ["mongodb", "asyncio", "types", "pydantic", "motor"]
classifiers = [
    "Intended Audience :: Information Technology",
    "Intended Audience :: System Administrators",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Internet",
    "Topic :: Database",
    "Topic :: Database :: Front-Ends",
    "Topic :: Software Development :: Object Brokering",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development",
    "Typing :: Typed",
    "Development Status :: 4 - Beta",
    "Framework :: AsyncIO",
    "Environment :: Web Environment",
    "License :: OSI Approved :: ISC License (ISCL)",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python",
]
include = ["LICENSE", "README.md"]

[tool.poetry.dependencies]
python = ">=3.6,<4.0"
importlib-metadata = { version = ">=1,<4", python = "<3.8" }
typing-extensions = { version = "^3.7.4.3", python = "<3.8" }
pydantic = ">=1.6.0,< 1.9.0"
motor = ">=2.1.0,<2.4.0"
fastapi = { version = ">=0.61.1,<0.64.0", optional = true }

[tool.poetry.extras]
fastapi = ["fastapi"]

[tool.poetry.dev-dependencies]
pytest = "~=6.0"
isort = "~=5.7.0"
black = { version = "*", allow-prereleases = true }
flake8 = "~=3.8.4"
mypy = "^0.812"
coverage = { extras = ["toml"], version = "^5.3" }
pytest-xdist = "^2.1.0"
pytz = "^2021.1"
asyncmock = "^0.4.2"
mkdocstrings = "^0.15.0"
pydocstyle = "^5.1.1"
darglint = "^1.5.4"
ipython = "^7.16.1"
pytest-asyncio = "^0.14.0"
mkdocs-material = "^7.0.3"
uvicorn = "^0.13.0"
fastapi = ">=0.61.1,<0.64.0"
requests = "^2.24.0"
typer = "^0.3.2"
semver = "^2.13.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.isort]
line_length = 88
multi_line_output = 3
include_trailing_comma = true
use_parentheses = true
force_grid_wrap = 0
known_third_party = ["bson", "click", "fastapi", "motor", "pydantic", "pytest", "pytz", "semver", "typer", "uvicorn"]
known_first_party = ["odmantic", "tests"]
skip = ["docs"]

[tool.pytest.ini_options]
filterwarnings = [
    "ignore:\"@coroutine\" decorator is deprecated.*:DeprecationWarning:motor.*",
    "ignore:the AIOEngineDependency object is deprecated.*:DeprecationWarning:odmantic.*",
]

[tool.coverage.run]
branch = true
[tool.coverage.report]
include = ["odmantic/*"]
exclude_lines = ["pragma: no cover", "if TYPE_CHECKING:"]
