[tool.poetry]
name = "ODMantic"
version = "0.0.0b0"
description = "ODMantic, an AsyncIO MongoDB Object Document Mapper for Python using type hints "
authors = ["Arthur Pastel <arthur.pastel@gmail.com>"]
license = "ISC License"
readme = "README.md"
repository = "https://github.com/art049/odmantic"
documentation = "https://art049.github.io/odmantic"
keywords = ["mongodb", "asyncio", "types", "pydantic", "motor"]
classifiers = [
    "Intended Audience :: Information Technology",
    "Intended Audience :: System Administrators",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Internet",
    "Topic :: Database",
    "Topic :: Database :: Front-Ends",
    "Topic :: Software Development :: Object Brokering",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development",
    "Typing :: Typed",
    "Development Status :: 4 - Alpha",
    "Framework :: AsyncIO",
    "Environment :: Web Environment",
    "License :: OSI Approved :: ISC License (ISCL)",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python",
]
include = ["LICENSE"]

[tool.poetry.dependencies]
python = ">=3.6 <4.0"
importlib-metadata = {version = "^1.0", python = "<3.8"}
pydantic = "~=1.6.0"
motor = "~=2.2.0"

[tool.poetry.dev-dependencies]
pytest = "~=6.0"
isort = {extras = ["pipfile"],version = "~=4.3"}
black = { version = "*", allow-prereleases = true }
flake8 = "==3.8.3"
ipython = "*"
pre-commit = "*"
pytest-asyncio = "*"
mkdocs-material = "*"
pipenv-setup = "*"
mypy = "^0.782"
coverage = "^5.3"
pytest-xdist = "^2.1.0"
pytz = "^2020.1"
asyncmock = "^0.4.2"
mkdocstrings = "^0.13.2"
markdown-include = "^0.6.0"
pydocstyle = "^5.1.1"
darglint = "^1.5.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
