name: build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - uses: pre-commit/action@v2.0.0
        with:
          extra_args: --all-files

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - 3.6
          - 3.7
          - 3.8
          - 3.9
        mongo-version:
          - 4.0
          - 4.2
          - 4.4
        mongo-mode:
          - standalone
        include:
          - python-version: 3.8
            mongo-version: 4.0
            mongo-mode: replicaSet
          - python-version: 3.8
            mongo-version: 4.2
            mongo-mode: sharded

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Mongo Service
        id: mongo-service
        uses: ./.github/actions/mongo-service
        with:
          version: ${{ matrix.mongo-version }}
          mode: ${{ matrix.mongo-mode }}
      - name: Cache environment
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ matrix.python-version }}-${{ hashFiles('pyproject.toml') }}
      - name: Install dependencies
        run: |
          pip install poetry
          poetry config virtualenvs.in-project true
          poetry config experimental.new-installer false
          poetry install
      - name: Run all tests
        run: |
          set -e
          poetry run coverage run -m pytest -v
          poetry run coverage report -m
          poetry run coverage xml
        env:
          TEST_MONGO_URI: ${{ steps.mongo-service.outputs.connection-string }}

      - uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          flags: tests-${{ matrix.python-version }}-${{ matrix.mongo-version }}-${{ matrix.mongo-mode }}
          fail_ci_if_error: true
