name: docs
on:
  release:
    types:
      - published
      - released
      - edited
  workflow_dispatch:

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          cache-dependency-path: "pyproject.toml"

      - name: Cache environment
        uses: actions/cache@v2
        with:
          path: .venv
          key: doc-${{ hashFiles('pyproject.toml') }}
      - name: Install dependencies
        run: |
          pip install flit
          pip install ".[doc]"

      - name: Build documentation
        run: mkdocs build -f ./docs/mkdocs.yml

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
